<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="UI Automation Suite" parallel="classes" thread-count="3">
    <parameter name="browserType" value="CHROME"/>
    <listeners>
        <listener class-name="utils.listeners.ScenariosListener"/>
    </listeners>
    <test verbose="2" name="UI Regression">
        <classes>
            <class name="tests.ExampleTest"/>
        </classes>
    </test>
</suite>